<a href="https://colab.research.google.com/github/alu230747-glitch/-Temario-de-Aplicaciones-Web-/blob/main/EvaluacionDiagnostica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imprimir nombre paterno y materno

In [3]:
print("Ingresa tu nombre")
print("------------------")
n=(input("Nombre del alumno " ))
p=(input("Apellido paterno " ))
m=(input("Apellido materno " ))
print(n+p+m)

Ingresa tu nombre
------------------
Nombre del alumno Abril
Apellido paterno Herrera
Apellido materno Dimas
AbrilHerreraDimas

Captura dos numeros decimales e imprimir suma

In [8]:
print("Ingresa dos numeros")
print("--------------------")
n1=(float(print("Primer numero " )))
n2=(float(print("Segundo numero " )))
print(n1+n2)

Ingresa dos numeros
--------------------
Primer numero 2.6
Segundo numero 3.7
6.300000000000001

Calcula el area de un circulo

In [12]:
print("Area del circulo")
print("------------------")
r=(float(input("Ingresa el radio " )))
a=(3.1416*(r**2))
print(a)

Area del circulo
------------------
Ingresa el radio 6
113.0976

Codigo pasado

In [13]:
db.carros.find({nocarro:53})
db.carros.find({modelo:"m0bt"})
db.carros.find({modelo:"fiat"})

NameError: name 'db' is not defined